head{
    margin:0px;
    padding:0px;
    background:indigo;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    background:white;
    }
    h1{
      color:black;
      text-align: center;
      margin: 2em auto 0px;
      padding-bottom: 10px;
    }
  
    #guess{
      width:400px;
      height:400px;
      background:lightgray;
      margin: 0px auto;
      padding-top: 20px;
      border-radius: 10px;
      }
  
  input[type='number']{
    display:block;
    width: 309px;
    height: 20px;
    margin: 15px auto;
    background: #fff;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius:5px;
  }
  
  button{
    display: block;
    width:309px;
    height:30px;
    margin:15px auto;
    background: gray;
    border: 2px solid gray;
    transition: all 0.3s ease;
    border-radius:5px;
  }
  
    #m1{
      color:black;
      text-align: center;
      margin: 2em auto 0px;
      padding-bottom: 1px;
    }
    #m2{
      color:black;
      text-align: center;
      margin: 2em auto 0px;
      padding-bottom: 10px;
    }